/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Banner Bottom Gradient Bg */
/* Linear Gradient */
.bg-linear-gradient
{
  background: linear-gradient(180deg, rgba(252, 171, 0, 0.30) 0%, #A06D00 77.08%), radial-gradient(70.71% 70.71% at 50% 50%, rgba(251, 23, 83, 0.20) 0%, rgba(124, 51, 255, 0.00) 100%), linear-gradient(150deg, rgba(252, 171, 0, 0.50) 0%, #FCAB00 100%), radial-gradient(70.71% 70.71% at 50% 50%, rgba(84, 124, 255, 0.40) 0%, rgba(84, 124, 255, 0.00) 100%);
}

/* Table Gradient */
.custom-gradient
{
  background: linear-gradient(94.41deg, rgba(252, 171, 0, 0.05) 0%, rgba(252, 171, 0, 0.1) 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

/* footer */

.footer
{
  width: 100%;
  height: 349.595px;
  border-top: 1px solid #fcab00;
  background: #fcab00;
}

.firstGrid
{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.imageName
{
  width: 152.689px;
  height: 37.493px;
}

.icon
{
  width: 44px;
  padding: 10px;
  border-radius: 4px;
  background: #29202b;
  color: #fff;
  text-align: center;
}

.options
{
  display: flex;
  padding: 3px 0px 0px 0px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.optionTitle
{
  color: rgba(0, 0, 0, 0.56);

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.options a
{
  color: #000;

  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 12px;
}

.address
{
  color: rgba(0, 0, 0, 0.56);

  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

/* mobile responsive */
@media only screen and (max-width: 600px)
{

  /* footer */
  .footer
  {
    width: 100%;
    height: 1000px;
  }

  .firstGrid
  {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .address
  {
    text-align: center;
    padding: 10px;
  }

  .options1
  {
    padding: 20px;
    margin-bottom: 15px;
  }
}